@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate360 45s linear infinite; /* 2s de duração, linear e repetição infinita */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .redirect-to-project {
    cursor: pointer;
  }

  .redirect-to-project:hover {
    scale: 1.2;
    transition-duration: 0.3s;
    
  }

  .slide-container {
    user-select: none;
  }


  .project-image {
    object-fit: cover;
    border-radius: 10px;
    height: 300px;
    width: auto;
    cursor: pointer;
    opacity: 0.8;
  }

  .project-image:hover {
    opacity: 1;
  }

  
  